<!DOCTYPE html>
<html lang="en" data-theme="synthwave">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <title>Sign Up</title>
</head>
<body>
    <div class="flex h-20 ml-10 justify-left items-center">
      <a href="{% url 'home'%}" class="btn btn-ghost text-2xl hover:text-blue-100 font-bold btn-sm">← Acceuil</a>
    </div>
    <div class="flex h-200 justify-center items-center">
        <div>
            {% if error %}
                <div class="alert alert-error w-md mb-4">
                    {{ error }}
                </div>
            {% endif %}

            <form class="fieldset bg-base-200 border-base-300  rounded-box w-lg border p-10" method="post">
                {% csrf_token %}
                <div class="text-2xl flex justify-center font-bold mb-6">S'inscrire</div>
               <label class="fieldset mb-4 text-lg">
                <span class="label">Nom d'utilisateur</span>
                <input type="text" class="input validator w-full" placeholder="Nom d'utilisateur" name="username" required />
                <span class="validator-hint hidden">Required</span>
              </label>

                <label class="fieldset mb-4 text-lg">
                <span class="label">Email</span>
                <input type="email" class="input validator w-full" placeholder="Votre Email" name="email" required />
                <span class="validator-hint hidden">Required</span>
              </label>

              <label class="fieldset mb-4 text-lg">
                <span class="label">Mot de passe</span>
                <input type="password" class="input validator  w-full" placeholder="Mot de passe" name="pw" required />
                <span class="validator-hint hidden">Required</span>
              </label>

                <label class="fieldset mb-4 text-lg">
                <span class="label">Confirmer le mot de passe</span>
                <input type="password" class="input validator w-full" placeholder="Confirmer le mot de passe" name="re-pw" required />
                <span class="validator-hint hidden">Required</span>
              </label>

              <button class="btn btn-neutral mt-4" type="submit">S'inscrire</button>
              <button class="btn btn-active mt-1" type="reset">Effacer</button>
            </form>
        </div>
    </div>
</body>
</html>